.wrapper {
    position: relative;
}

.dragHandle {
    position: absolute;
    left: -32px;
    top: 50%;
    transform: translateY(-50%);

    color: #5e60ce;
    cursor: grab;
    padding: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.wrapper:hover .dragHandle {
    opacity: 1;
}

.dragHandle:active {
    cursor: grabbing;
    color: #f2f2f2;
}