.task {
    width: 100%;
    background: #262626;
    border: 1px solid #333333;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    position: relative;
    overflow: visible;

    transition: border-color 0.2s;
}

.task:hover {
    border-color: #5E60CE;
}

.task p {
    font-size: 14px;
    line-height: 19px;
    color: #F2F2F2;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    word-break: break-word;
}

p.textCompleted {
    color: #808080;
    text-decoration: line-through;
}

.checkContainer {
    width: 20px;
    height: 20px;
    background: none;
    border: none;
}

.checkContainer div {
    width: 100%;
    height: 100%;
    border-radius: 999px;
    border: 2px solid #4EA8DE;
}

.checkContainer svg {
    width: 100%;
    height: 100%;
    color: #268021;
}

.contentContainer {
    flex: 1;
    min-width: 0;
}

.editInput {
    width: 100%;
    background: #1a1a1a;
    border: 1px solid #5e60ce;
    border-radius: 6px;
    color: #f2f2f2;
    font-size: 14px;
    padding: 2px 4px;
    outline: none;

    min-width: 0;
}

.actionButton {
    background: none;
    border: none;
    color: #808080;
    transition: color 0.2s;
}

.actionButton:hover {
    color: #4D2FB2;
}

.deleteButton {
    background: none;
    border: none;
    color: #808080;
    transition: color 0.2s;
}

.deleteButton:hover {
    color: #720f0f;
}

